// basic styles for headings
//
// ------------------------------------------------------------------


// Reset basic typography elements
h1,
h2,
h3,
h4,
h5,
h6
	margin: 0
	padding: 0
	font-family: $font_stack_heading
	font-weight: 600
	color: $cl_text_heading

	a
		color: $cl_text_heading

h1
	// @nrml: Correct the font size on <h1> elements within `section`
	// and `article` contexts in Chrome, Firefox, and Safari.
	font-size: s(10)
	font-weight: 400
	line-height: s(12)
	margin: s(8) 0 -1rem
	+bp(830px)
		font-size: s(11)
h2
	font-size: s(8)
	line-height: s(10)
	margin: s(8) 0 s(3)
	+bp(680px)
		font-size: s(8)
h3
	font-size: s(6)
	line-height: s(8)
	margin: s(8) 0 s(3)
	+bp(680px)
		font-size: s(7)
h4
	font-size: s(5)
	line-height: s(8)
	margin: s(8) 0 s(3)
	+bp(680px)
		font-size: s(6)
h5
	font-size: s(4)
	line-height: s(6)
	margin-top: s(6)
h6
	font-size: s(3)
	line-height: s(6)
	margin-top: s(6)